// app.scss
$semantic-root-element: "div#pico-root";
@use '@picocss/pico/scss/pico' with (
  $theme-color: "zinc"
);
@font-face {
  font-family: 'Mononoki';
  src: url('/fonts/mononoki-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mononoki';
  src: url('/fonts/mononoki-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mononoki';
  src: url('/fonts/mononoki-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mononoki';
  src: url('/fonts/mononoki-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
body {
  font-family: 'Mononoki', monospace;
}

